
<div class="custom-confirm" data-controller="edit-planification" data-edit-planification-url-value=<%="#{planification_path(@planification)}"%>>
  <strong><i class="fa-solid fa-pills custom-icon"></i></strong>
  <h1>Modifier la prescription</h1>
  <div class="form_card m-4">
    <div class="form_inputs", data-controller="checkbox">
      <%= simple_form_for @planification, url:  planification_path(@planification), html: { data: { edit_planification_target: 'form'} } do |f| %>
        <% if @planification.photo.key != nil %>
          <%= cl_image_tag @planification.photo.key, class: "size" %>
        <% end %>
        <h2 class="custom-title"><%= @planification.medication.name %></h2>
        <div class="posotity">
          <%= f.input :quantity, label: "Quantité :" %>
          <%= f.association :dosage, label_method: :label, label: "Posologie :" %>
        </div>
        <%= f.input :frequency_days, label: "Fréquence de prises :" %>
        <%= f.input :start_date, label: "Date de début :", as: :string, input_html: { data: { controller: 'flatpickr' } } %>
        <%= f.input :end_date, label: "Date de fin :", as: :string, input_html: { data: { controller: 'flatpickr' } } %>
        <div class="check-boxes-container">
          <%= f.association :taking_periods, as: :check_boxes,
                        label: "Moments de la journée :",
                        label_method: :label,
                        value_method: :id,
                        input_html: { data: { action: "click->checkbox#toggle", checkbox_target: "checkbox" } },
                        item_label_class: 'checkbox-item toggle-label labels col-sm' %>
        </div>
        <%= f.input :description, as: :text, input_html: { class: "text-area", :rows => 4 } %>
        <% end %>
    </div>
  </div>
  <div class="buttons_double">
    <button data-action="click->edit-planification#cancel"><i class="fa-solid fa-chevron-left"></i> Retour</button>
    <button data-action="click->edit-planification#submitForm"><i class="fa-solid fa-check"></i> Enregistrer</button>
  </div>
</div>
