<h1>Edit your planification</h1>

<%= simple_form_for @planification, url:  planification_path(@planification) do |f| %>
      <%= f.association :medication, label_method: :name %>
      <%= f.input :quantity %>
      <%= f.input :start_date %>
      <%= f.input :end_date%>
      <%= f.association :dosage, label_method: :label %>
      <%= f.input :frequency_days %>

      <%= f.association :taking_periods, label_method: :label, as: :check_boxes %>  <%# %, as: :radio_buttons, multiple: true %>
      <%# <%=  f.simple_fields_for :plan_takings do |plan_taking| %>
      <%# <%=  plan_taking.association :plan_takings, as: :select %>
      <%# <%=  assignment.estimated_time %>

      <%= f.input :description %>
      <%= f.button :submit, 'Confirmer les modifications' %>
      <% end %>
