<% if current_user.tutor? %>
  <div class="default_card">
    <h2 class="patient-full-name"><%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
    <hr>
    <%= link_to edit_patient_path(@patient.id) do %>
      <%= render "components/button_edit", content: "Editer patient" %>
    <% end %>
  </div>
<% end %>

<h2 class="text-center" style="margin-top: 20px;">Médicaments du jour</h2><hr>

<%= render "components/accordion_card", elements: @planifications %>

<% if current_user.tutor? %>
  <div>
  <%= link_to cam_patient_path(@patient.id) do%>
    <%= render "components/button_edit", content: "Nouvelle planification" %>
  <% end %>
  </div>
<% end %>
