			<li class="item">
        <input type="radio" name="point" id="<%= element.id %>">
				<label for="<%= element.id %>" class="label">
          <h4>
            <%= cl_image_tag element.photo.key, class: "vignette" %>
					<%= element.medication.name %></h4>
          <span class="control"></span>
					<div class="slider ">
						<%= cl_image_tag element.photo.key, sizes: "(max-width: 589px) 100vw" %>
            <span>
              <h4><%= element.medication.name %></h4><br>
						  <h6><%= element.medication.description %><h6>
            <span>
					</div>
				</label>
      </li>
