			<li class="item<%= element.id %>">
        <input type="radio" name="point" id="<%= element.id %>">
				<label for="<%= element.id %>" class="label", data-controller="color-change", data-color-change-target= "element", data-color-change-takendate-value= "<%= element.taken_date? %>">
          <div class="acord-head">
            <div class="acord-vign">
              <% if element.photo.key != nil %>
              <%= cl_image_tag element.photo.key, class: "vignette" %>
              <% end  %>
            </div>
            <div class="acord-info">
              <div class="acord-medic">
                <%= element.medication.name %>
              </div>
              <div class="acord-qte">
              <p> Du <%= element.start_date %> au <%= element.end_date %></p>
              </div>
            </div>
          </div>
          <span class="control"></span>
					<div class="slider ">
            <div class="acord-det">
              <%# <div class="grid-photo">
                <% if element.photo.key != nil %>
                <%# <%= cl_image_tag element.photo.key, sizes: "(max-width: 589px) 100vw" %>
                <%# <% end %>
              <%# </div> %>
              <%# <div class="grid-medic"> %>
                <%# <%= element.medication.name %>
              <%# </div> %>
              <div class="grid-qte">
               <p> <%= element.quantity %> <%= element.dosage.label %> </p>
                <% taking_period= element.taking_period_ids %>
                <% taking_period.each do |taking| %>
                <%= TakingPeriod.find(taking).label %>
               <% end %>
               <% if  element.frequency_days >1%>
               <p>Tous les <%= element.frequency_days %> jours</p>
               <% else %>
               <p> Tous les jours</p>
               <% end %>
              </div>
              <div class="grid-comment">
                <%= element.medication.description %>
              </div>
              <div class="grid-val">
                <% if current_user.tutor? %>
                  <% content = render "components/button_edit", content: "Modifier"%>
                  <%= link_to content, edit_planification_path(element) %>
                  <% content_destroy = render "components/button_destroy", content: "Supprimer"%>
                  <%=  link_to content_destroy, planification_path(element), data: { turbo_method: :delete } %>
                <% else %>
                  <a href=#><%= render "components/button_photo", content: "Valider" %></a>
                <% end %>
              </div>
            </div>
					</div>
				</label>
      </li>
