<div class="confirm">
  <i class="fa-solid fa-calendar-check"></i>
  <div>
    <h1>Médicament ajouté</h1>
    <p><strong><%= @planification.medication.name %></strong> a été ajouté aux prescriptions de <%= @planification.patient.first_name %></p>
    <% if @planification.end_date.present? && (@planification.end_date != @planification.start_date) %>
      <p>Son traitement durera du <%= @planification.start_date.strftime("%d/%m/%Y") %> au <%= @planification.end_date.strftime("%d/%m/%Y") %></p>
      <% else %>
      <p>Son traitement sera à prendre le <%= @planification.start_date.strftime("%d/%m/%Y") %> </p>
    <% end %>
    <p>Il/Elle doit prendre <strong><%= @planification.quantity %> <%= @planification.dosage.label %>
    <% periods = @planification.taking_periods.map(&:label) %>
    <% if @planification.end_date.present? && (@planification.end_date != @planification.start_date) && %>
      tous les
      <% if periods.count > 1 %>
      <%= periods[0..-2].join(', ')%> et <%= periods[-1] %></p></strong>
      <% else %>
      <%= periods[0] %></p></strong>
      <% end %>
    <% else %>
      <% if @planification.taking_periods.count > 1 %>
        les <%= periods[0..-2].join(', ')%> et <%= periods[-1] %></p></strong>
      <% else %>
        le <%= periods[0] %></p></strong>
      <% end %>
    <% end %>
    <p>Voulez-vous confirmer la prescription ?</p>
  </div>

    <div class="buttons_double" data-controller="confirmation-planif" data-confirmation-planif-url-cancel-value=<%="#{edit_planification_path(@planification)}"%> data-confirmation-planif-url-confirm-value=<%="#{patient_planifications_path(@planification.patient)}"%>>
      <button data-action="click->confirmation-planif#cancel" ><i class="fa-solid fa-pen-to-square"></i> Modifier</button>
      <button data-action="click->confirmation-planif#confirm" ><i class="fa-solid fa-check"></i> Confirmer</button>
    </div>
</div>
