<div class="confirm">
  <i class="fa-solid fa-calendar-check"></i>
  <div>
    <h1>Médicament ajouté</h1>
    <p><strong><%= @planification.medication.name %></strong> a été ajouté à la liste de vos prises</p>
    <% if @planification.end_date.present? %>
      <p>Votre traitement durera du <%= @planification.start_date %> au <%= @planification.end_date %></p>
      <% else %>
      <p>Votre traitement démarre le <%= @planification.start_date %> </p>
    <% end %>
    <p>Vous devez prendre <%= @planification.quantity %><%= @planification.dosage.label %> tous les
      <% @planification.taking_periods.each do |period| %>
        <%= period.label %>
      <% end %>.</p>
    <p>Voulez-vous <strong>confirmer</strong> votre action ?</p>
  </div>

    <div class="buttons_double" data-controller="confirmation-planif" data-confirmation-planif-url-cancel-value=<%="#{edit_planification_path(@planification)}"%> data-confirmation-planif-url-confirm-value=<%="#{patient_planifications_path(@planification.patient)}"%>>
      <button data-action="click->confirmation-planif#cancel" ><i class="fa-solid fa-chevron-left"></i> Annuler</button>
      <button data-action="click->confirmation-planif#confirm" ><i class="fa-solid fa-check"></i>Confirmer</button>
    </div>
</div>
