<header class="navbar-fixed">
<div class="logo" data-burger-target="logo">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://github.com/JossDPR/medimind/blob/master/public/Logo_small.png?raw=true" %>
  <% end %>
</div>
<div class="header-text" data-burger-target="headerText">
  MediMind
</div>
<div data-controller="burger">
  <div class="burger" data-action="click->burger#toggle" data-burger-target="burger">
    <i class="fas fa-bars fa-2x"></i>
    <i class="fas fa-times fa-2x"></i>
  </div>

  <nav class="navbar" data-burger-target="navbar">
     <% if user_signed_in? %>
    <ul class="nav-links">
      <li class="nav-link" data-burger-target="navLink"><%= link_to "Menu", root_path, class: "nav-link" %></li>
      <li class="nav-link" data-burger-target="navLink"><%= link_to "À propos", about_path, class: "nav-link" %></li>
      <li class="nav-link" data-burger-target="navLink"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
      <%# <li class="nav-link" data-burger-target="navLink"><%= link_to "UI", ui_path, class: "nav-link" %>
      <li class="nav-link" data-burger-target="navLink"><%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
    </ul>
    <% else %>
      <ul class="nav-links">
        <li class="nav-link" data-burger-target="navLink"><%= link_to "Connexion", new_user_session_path, class: "nav-link" %></li>
      </ul>
    <% end %>
  </nav>
</div>
</header>
