<% if current_user.tutor? %>
  <div class="default_card">
    <h2 class="patient-full-name"><%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
    <hr>
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <%= link_to edit_patient_path(@patient.id) do %>
          <%= render "components/little_buttons", content: "Editer" %>
        <% end %>
      </div>
      <div class="col-auto">
        <%= link_to patient_patient_histo_index_path(@patient) do%>
          <%= render "components/little_buttons", content: "Historique" %>
        <% end %>
      </div>
    </div>
      <div class="col-auto">
        <%= link_to patient_planifications_path(@patient.id) do%>
          <%= render "components/button", content: "Voir les prescriptions" %>
        <% end %>
      </div>
  </div>
<% end %>

<h2 class="text-center" style="margin-top: 20px;">Prises de médicaments du jour</h2><hr>

<% if current_user.tutor? %>
  <div>
    <%= link_to cam_patient_path(@patient.id) do%>
      <%= render "components/button_edit", content: "Nouvelle prescription" %>
    <% end %>
  </div>
<% end %>

<%= render "components/accordion_card_tutor_takes", elements: @takes %>

<%= link_to tutor_root_path do %>
  <%= render "components/back_button" %>
<% end %>
