<h1>Medications#index</h1>
<p>Find me in app/views/medications/index.html.erb</p>

<% @medications.each do |medication| %>

  <% if medication.photos[0].nil? %>
    <%= cl_image_tag("default_medication_h4cr7h", width: 400, height: 300, crop: :fill) %>
  <% else %>
    <%= cl_image_tag medication.photo[0].key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <br>

  <%= medication.name %><br>
  <%= medication.description %><br><br>

<% end %>

<%= link_to 'Add a medication', new_medication_path %>
