<h1>Congrats ! You managed to come to this view </h1>

<h1>Take a photo of the medication</h1>
<div data-controller="camera" data-camera-url-value=<%="#{patient_planifications_path(@patient)}"%>>
  <div class="selfie-container" >
    <video class="selfie-video" data-camera-target="cameraScreen">

    </video>
    <p class="selfie-startbutton" data-camera-target="cameraButton" data-action="click->camera#photo">📸</p>

    <div data-camera-target="buttonValidate" class= "d-none" >
      <%= button_to "validate photo", new_patient_planification_path(@patient), data:{action:"click->camera#validatePhoto"}%>
      <%= button_to "retake photo", new_patient_planification_path(@patient), data:{action:"click->camera#retakePhoto"}%>
    </div>

    <%# <div data-camera-target="form" class='d-none'> %>
      <%= simple_form_for [@patient,@planification], url: patient_planifications_path(@patient), html:{data:{camera_target:"form"}, class: "d-none"} do |f| %>
      <%= f.association :medication, label_method: :name %>
      <%= f.input :quantity %>
      <%= f.input :start_date %>
      <%= f.input :end_date%>
      <%= f.association :dosage, label_method: :label %>
      <%= f.input :frequency_days %>

      <%= f.association :taking_periods, label_method: :label, as: :check_boxes %>  <%# %, as: :radio_buttons, multiple: true %>
      <%# <%=  f.simple_fields_for :plan_takings do |plan_taking| %>
      <%# <%=  plan_taking.association :plan_takings, as: :select %>
      <%# <%=  assignment.estimated_time %>

      <%= f.input :description %>
      <%= f.button :submit, data:{action:"click->camera#submitForm"} %>
      <% end %>
    <%# </div> %>
  </div>

    <%= link_to 'Retour',  patient_planifications_path(@patient), data:{action:"click->camera#stopPhoto"} %>
</div>
