<div class="custom-confirm">
  <strong><i class="fa-solid fa-pills custom-icon"></i></strong>
    <h1>Nouveau médicament</h1>





<div data-controller="camera", data-camera-url-value=<%="#{patient_planifications_path(@patient)}"%>>
  <div class="selfie-container" >
    <video class="selfie-video" data-camera-target="cameraScreen">

    </video>
    <p class="selfie-startbutton" data-camera-target="cameraButton" data-action="click->camera#photo">📸</p>

    <div data-camera-target="buttonValidate" class= "d-none" >
      <%= button_to "Reprendre la photo", new_patient_planification_path(@patient), data:{action:"click->camera#retakePhoto"}, class: "boton-secondary" %>
      <%= button_to "Valider la photo", new_patient_planification_path(@patient), data:{action:"click->camera#validatePhoto"}, class: "boton-elegante" %>
    </div>

    <div data-camera-target="form" class="d-none form_card mt-4">
      <h2>Détails de la prescription :</h2>
      <hr>
      <div class="form_inputs", data-controller="checkbox">
        <%= simple_form_for [@patient,@planification], url: patient_planifications_path(@patient) do |f| %>
        <%= f.association :medication, label: "Nom du médicament :" %>
        <%= f.input :quantity, label: "Quantité :" %>
        <%= f.input :start_date, :order => [:day, :month, :year], label: "Date de début :" %>
        <%= f.input :end_date, :order => [:day, :month, :year], label: "Date de fin :" %>
        <%= f.association :dosage, label_method: :label, label: "Posologie :" %>
        <%= f.input :frequency_days, label: "Fréquence de prises :" %>
        <%= f.association :taking_periods, as: :check_boxes,
                      label: "Moments de la journée :",
                      label_method: :label,
                      value_method: :id,
                      input_html: { data: { action: "click->checkbox#toggle", checkbox_target: "checkbox" } },
                      item_label_class: 'toggle-label' %>
        <%= f.input :description %>
      </div>

      <div class="text-center">
        <%= button_tag(type: 'submit', class: "boton-elegante", data:{action:"click->camera#submitForm"}) do %>
          <i class="fa-solid fa-check"></i> Enregistrer
        <% end %>
      </div>

      <% end %>
    </div>
  </div>






    <p>Are you sure you want to proceed?</p>
    <div class="buttons_double">
        <button data-action="click->camera#stopPhotoAndBack" data-url="<%= patient_planifications_path(@patient) %>"><i class="fa-solid fa-arrow-left"></i> Cancel</button>
        <%# <button ><i class="fa-solid fa-camera"></i> Confirm</button> %>

        <button data-camera-target="cameraButton" data-action="click->camera#photo"><i class="fa-solid fa-camera"></i> Photo</button>


    </div>
</div>
