<div class="custom-confirm">
  <strong><i class="fa-solid fa-pills custom-icon"></i></strong>
  <h1>Nouveau médicament</h1>

  <div data-controller="camera", data-camera-url-value=<%="#{patient_planifications_path(@patient)}"%>>

    <div class="selfie-container" >
      <video class="selfie-video" data-camera-target="cameraScreen"></video>
      <div class="d-none form_card mx-2 my-4", data-camera-target="formarea">
        <h2>Détails de la prescription :</h2>
        <hr>
        <div class="form_inputs", data-controller="checkbox">
          <%= simple_form_for [@patient,@planification], url: patient_planifications_path(@patient), html: { data: { camera_target: 'form'} } do |f| %>
          <div class="custom-title"></div>
          <%= f.input :medication_id, as: :hidden %>
          <div class="posotity">
            <%= f.input :quantity, label: "Quantité :", input_html: { min: 0} %>
            <%= f.association :dosage, label_method: :label, label: "Posologie :" %>
          </div>
          <%= f.input :frequency_days, label: "Intervalle de prises en jours :", input_html: { min: 0} %>

          <div data-controller="flatpickr" class="center-calendar">
            <label class="form-label range required" for="range_range">Dates de prescription : <abbr title="required">*</abbr></label>
            <input class="form-control string optional d-none" data-target="flatpickr.rangeDate" id="range_range" type="text" name="planification[range_date]">
            <%= f.input :start_date, label: false, as: :string, required: false,
                        input_html: {  data: { target: "flatpickr.startDate" }, id: "range_start", class: "d-none" } %>
            <%= f.input :end_date, label: false, as: :string, required: false,
                        input_html: {  data: { target: "flatpickr.endDate" }, id: "range_end", class: "d-none" } %>
          </div>

          <div class="check-boxes-container">
            <%= f.association :taking_periods, as: :check_boxes,
                          label: "Moments de la journée :",
                          label_method: :label,
                          value_method: :id,
                          input_html: { data: { action: "click->checkbox#toggle", checkbox_target: "checkbox" } },
                          item_label_class: 'checkbox-item toggle-label labels col-sm' %>
          </div>

          <%= f.input :description, as: :text, input_html: { class: "text-area", :cols => 5, :rows => 10 } %>
          <% end %>
        </div>

      </div>

    </div>

    <div class="buttons_double" data-camera-target="buttonsLvl1">
        <button data-action="click->camera#stopPhotoAndBack" data-url="<%= patient_planifications_path(@patient) %>"><i class="fa-solid fa-chevron-left"></i> Retour</button>
        <button data-action="click->camera#photo"><i class="fa-solid fa-camera"></i> Photo</button>
    </div>

    <div class="buttons_double d-none" data-camera-target="buttonsLvl2">
        <button data-action="click->camera#retakePhotoAndBack" data-url="<%= new_patient_planification_path(@patient) %>"><i class="fa-solid fa-chevron-left"></i> Retour</button>
        <button data-action="click->camera#retakePhotoAndBack" class="d-none" id="retryphoto" data-url="<%= new_patient_planification_path(@patient) %>"><i class="fa-solid fa-camera"></i> Reprendre</button>
        <button data-action="click->camera#validatePhoto" class="d-none" id="validatephoto"><i class="fa-solid fa-camera"></i> Valider</button>
        <button disabled id="loadingphoto"><img src="<%= asset_path('loading-6321_512.gif') %>" alt="Photo GIF" style="height: 32px; width: auto;"/></button>
    </div>

    <div class="buttons_double d-none" data-camera-target="buttonsLvl3">
      <button data-action="click->camera#stopPhotoAndBack" data-url="<%= patient_planifications_path(@patient) %>"><i class="fa-solid fa-chevron-left"></i> Retour</button>
      <button data-action="click->camera#submitForm"><i class="fa-solid fa-check"></i> Enregistrer</button>
    </div>

  </div>

</div>
