<!DOCTYPE html>
<html>
  <head>
    <title>Medimind</title>
    <%= favicon_link_tag 'logo_favicon.png' %>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="background-color=red;">
    <%= render "components/navbar" %>
    </div>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
